*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: 	#121212	;
    width: 100%;
}
.container{
    position: relative;
}
/*Scrollbar*/
body::-webkit-scrollbar{
    width: 14px;
}
body::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 40px;
    border: 10px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #dbbeff;
}

body::-webkit-scrollbar-thumb:active{
    background-color:#bb86fc;
}


/*Top Navigation*/
.menu{
    position: absolute;
    top: 0;
    width: 100%;
}
#menu-symbol{
    list-style: none;
    margin: 0;
    float: right;
}

.bars{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
ul ul {
    display: none;
    padding: 0;
    margin: 0;
}

#menu-symbol li{
    display: inline;
    position: relative;
    float: right;
    margin-right: 10px;
    padding: 15px;

}

ul ul li{
    display: block;
}

ul li:hover ul{
    display: block;
    margin-right: 35px;
}
ul li:hover .bars{
    display: none;
}
ul li:hover {
    cursor: pointer;
}

/*animation for top nav*/
/*https://www.30secondsofcode.org/css/s/hover-underline-animation*/
.top:after{
    content: ' ';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #bb86fc;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.top:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.top:hover{
    color: #bb86fc;
}
a{
    color: white;
    text-decoration: none;
}


/*Greeting*/
.home{
    position: relative;
    float: right;
    top: 200px;
    height: 100%;
    width: 100%;
}
.home h1{
    color: white;
    font-size: 96px;
    padding: 7px;
    margin-right: 30px;
    text-align: right;
}

/*typewriter animation*/
#typing{
    color: white;
    font-style: italic;
    font-size: 25px;
    position: absolute;
    right: 37px;
    overflow: hidden;
    border-right: 3px solid white;
    white-space: nowrap;
    animation: typing 3s steps(30,end) 1s 1 normal both, 
    cursor 0.75s steps(30,end) infinite;
}

@keyframes typing{
    from{width:0}
    to{width:250px}
}

@keyframes cursor{
    from, to{border-color: transparent}
    50%{border-color: white;}
}

/*Side Navigation*/
.side-nav{
    position: fixed;
    top: 50%;
    margin-left: 15px;
    width: 50px;
}

#side li{
    margin-bottom: 10px;
    list-style-type: none;
}

/*Projects*/

.projects h1{
    position: relative;
    float: left;
    margin-left: 70px;
    top: 485px;
    height: 100%;
    width: 100%;

    color: white;
    font-size: 96px;
    
}

/*all button size + format*/
.button{
    border: white;
    color: white;
    background-color: #1f1b24;
    text-decoration: none;
    cursor: pointer;
    padding: 40px;
    border-radius: 40px;
    width: 514px;
    height: 432px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s;
}

#title{
    font-size: large;
    font-weight: bold;
}

#description{
    opacity: 0.8;
    margin-top: 40px;
}

.iconify2{
    margin-top: 40px;
}

.iconify2:hover{
    color:#bb86fc;
    transition: all .4s ease;
}
#technology{
    margin-top: 40px;
    font-size: smaller;
}

.button:hover{
    transform: scale(1.04);
    border: 3px solid white;
}

/*positioning of each button*/
.button1{
    position: relative;
    float: left;
    top: 540px;
    margin-left: 70px;
}

.button2{
    position: relative;
    margin-right: 100px;
    float: right;
    top: 650px;
}

.button3{
    position: relative;
    float: left;
    top: 700px;
    margin-left: 70px;
}

@media only screen and (max-width: 550px){
    .side-nav{
        display: none;
    }
    .projects{
        text-align: center;
        height: 100%;
        width: 100%;
    }
    .projects h1{
        margin-left: 0px;
        font-size: 82px;
        
    }
    .button{
        display: block;
        padding: 0px;
        width: 100%;
        margin-left: 0px;
        border-radius: 0px;
    }

    .button1{
        top: 510px;
        
    }

    .button2{
        float: left;
        top: 530px;
    }

    .button3{
        top: 550px;
    }
}